@use '../abstracts' as *;

.cell {
	background: $dark-blue-200;
	box-shadow: 0 8px 0 0 #10212a;
	width: 150px;
	height: 150px;
	border-radius: 1em;
	transition: 0.2s ease;
	display: flex;
	align-items: center;
	justify-content: center;

	&:active {
		transition: 0.2s ease;
		box-shadow: 0 4px 0 0 #10212a;
		transform: translateY(4px);
		cursor: pointer;
	}

	&:hover {
		transition: 0.2s ease;
		background: $dark-blue-300;
	}
}
